#page-main {
    /* 
    really bad way of adding css to this but dont worry about
    */
    background-color: #ADD8E6;
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 60px;

}


a {
    text-decoration: none;
}

footer-index {
    color: red;
}

nav {
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

h4 {
    font-family: 'Comic Sans MS';
}